<div class="container-fluid">
  <div class="col-xs-8">
    <h1><a href="/">Dados Abertos</a></h1>
  </div>
  <div class="col-xs-4 header-user-profile">
    <a href="/signup">CADASTRE-SE</a>
    <span class="separator">|</span>
    <a href="/signin">LOGIN</a>
  </div>
</div>
