<header>
  <%= render "header" %>
  <div class="container-fluid toolbar">
    <div class="col-xs-12">
      <%= render "filters" %>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">2014</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2"></th>
              <th class="text-center">Janeiro</th>
              <th class="text-center">Fevereiro</th>
              <th class="text-center">Março</th>
              <th class="text-center">Abril</th>
              <th class="text-center">Maio</th>
              <th class="text-center">Junho</th>
              <th class="text-center">Julho</th>
              <th class="text-center">Agosto</th>
              <th class="text-center">Setembro</th>
              <th class="text-center">Outubro</th>
              <th class="text-center">Novembro</th>
              <th class="text-center">Dezembro</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center text-nowrap vcenter" rowspan="2" scope="row">Dominio A</th>
              <th class="text-center text-nowrap" scope="row">Subdominio A</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
            <tr>
              <th class="text-center text-nowrap" scope="row">Subdominio B</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
            <tr>
              <th class="text-center text-nowrap vcenter" rowspan="2" scope="row">Dominio B</th>
              <th class="text-center text-nowrap" scope="row">Subdominio A</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
            <tr>
              <th class="text-center text-nowrap" scope="row">Subdominio B</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="col-xs-12 text-center text-muted">
    <a href="/signup">Cadastre-se</a> para acessar os dados granulares e salvar suas consultas
  </div>
  <%= render "copyright" %>
</div>
