<header>
  <div class="container-fluid">
    <div class="col-xs-8">
      <h1>Dados Abertos</h1>
    </div>
    <div class="col-xs-4 header-user-profile">
      <a href="#">CADASTRE-SE</a>
      <span class="separator">|</span>
      <a href="#">LOGIN</a>
    </div>
  </div>
  <div class="container-fluid toolbar">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <select class="form-control selectpicker" id="filter-year" title="Cidade">
            <option selected="selected">Campinas, SP</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control selectpicker" id="filter-year" title="Ano">
            <option>2014</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control selectpicker" id="filter-month" title="Mês">
            <option>Todos</option>
            <option>Janeiro</option>
            <option>Fevereiro</option>
            <option>Março</option>
            <option>Abril</option>
            <option>Maio</option>
            <option>Junho</option>
            <option>Julho</option>
            <option>Agosto</option>
            <option>Setembro</option>
            <option>Outubro</option>
            <option>Novembro</option>
            <option>Dezembro</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control selectpicker" id="filter-domain" title="Domínio">
            <option>Dominio A</option>
            <option>Dominio B</option>
            <option>Dominio C</option>
            <option>Dominio D</option>
            <option>Dominio E</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control selectpicker" id="filter-subdomain" title="Subdomínio">
            <option>Subdominio A</option>
            <option>Subdominio B</option>
            <option>Subdominio C</option>
            <option>Subdominio D</option>
            <option>Subdominio E</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">2014</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2"></th>
              <th class="text-center">Janeiro</th>
              <th class="text-center">Fevereiro</th>
              <th class="text-center">Março</th>
              <th class="text-center">Abril</th>
              <th class="text-center">Maio</th>
              <th class="text-center">Junho</th>
              <th class="text-center">Julho</th>
              <th class="text-center">Agosto</th>
              <th class="text-center">Setembro</th>
              <th class="text-center">Outubro</th>
              <th class="text-center">Novembro</th>
              <th class="text-center">Dezembro</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center text-nowrap vcenter" rowspan="2" scope="row">Dominio A</th>
              <th class="text-center text-nowrap" scope="row">Subdominio A</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
            <tr>
              <th class="text-center text-nowrap" scope="row">Subdominio B</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
            <tr>
              <th class="text-center text-nowrap vcenter" rowspan="2" scope="row">Dominio B</th>
              <th class="text-center text-nowrap" scope="row">Subdominio A</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
            <tr>
              <th class="text-center text-nowrap" scope="row">Subdominio B</th>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
              <td class="text-center text-nowrap">R$ 0,00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="col-xs-12 text-center text-muted">
    <a href="#">Cadastre-se</a> para acessar os dados granulares e salvar suas consultas
  </div>
  <div class="col-xs-12 text-center text-muted">
    2015 © Dados Abertos
  </div>
</div>
