body {
  background-color: #fafafa;
}

.btn,
.dropdown-menu,
input {
  border-radius: 0 !important;
}

header {
  background-color: #546E7A;
  color: white;
  margin-top: 0;
  padding-top: 1.3em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  h1 {
    padding-bottom: 0.7em;
    font-size: 50px;
  }

  h1 a {
    color: white;
  }

  h1 a:hover {
    color: white;
    text-decoration: none;
  }

  .header-user-profile {
    text-align: right;
    padding-top: 0.4em;

    a,
    span {
      color: white;
      letter-spacing: 0.2em;
      font-weight: 300;
    }

    a:hover {
      color: white;
    }

    .separator {
      margin: 0 1em;
    }
  }
}

.toolbar {
  height: 44px;
  background-color: white;
  color: black;

  .col-xs-12 {
    height: 44px;
    display: flex;
    flex-direction: row;
  }

  .btn.dropdown-toggle {
    border: 0px !important;
  }

  .dropdown-menu {
    margin-top: 11px !important;
  }

  .dropdown-menu ul {
    margin-top: 0 !important;
  }

  .form-group {
    flex: 1;

    strong {
      line-height: 44px;
      vertical-align: middle;
      font-size: 16px;
    }
  }

  .form-group ~ .form-group {
    margin-left: -5px;
  }

  .form-group:last-child .dropdown-menu {
    right: 0 !important;
    left: auto !important;
  }
}

.toolbar ~ .toolbar {
  height: 45px;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
}

.float-button {
  position: fixed;
  background: red;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.26);
}

.float-button svg {
  width: 40px;
  margin-top: 23px;
}

@media(max-width: 768px) {
  .toolbar ~ .toolbar,
  .toolbar {
    height: 300px;
    padding-top: 5px;

    .col-xs-12 {
      height: 295px;
      flex-direction: column;
    }

    .form-group:last-child .dropdown-menu {
      left: 0 !important;
    }
  }

  .toolbar-compare ~ .toolbar-compare,
  .toolbar-compare {
    height: 350px !important;
    padding-top: 5px;

    .col-xs-12 {
      height: 345px;
      flex-direction: column;
    }
  }

  .form-group {
    height: 44px;
    margin-left: 0 !important;

    strong {
      padding: 0 16px;
    }
  }
}

.panel {
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-bottom: 2em;
}

.panel-heading {
  background-color: white !important;
  border-bottom: 0 !important;
  font-size: 3em;
  font-weight: 300;
  padding: 0.5em !important;
  text-align: center;
}

.vcenter {
  vertical-align: middle !important;
}

table {
  th {
    color: #777;
    font-weight: normal !important;
  }

  th, td {
    padding: 1em !important;
    border: 0 !important;
  }
}

.footer {
  line-height: 2em;
}

.despesa {
  padding-bottom: 0 !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.despesa p:last-child {
  margin-bottom: 0 !important;
}

.despesa p strong {
  width: 130px;
  display: inline-block;
  text-align: right;
  margin-right: 20px;
}

.header-gastos {
  font-weight: 300;
  margin-bottom: 0.8em;
}


.arrows {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.arrows input {
  margin-left: 20px;
  margin-right: 20px;
}
